<h1 class="title is-2">
  <span class="has-text-danger">ly</span><span class="has-text-primary">cosystem</span>
</h1>
<h2 class="subtitle is-4">
  An ecosystem of tools, websites, and data repositories
  <br>
  for lymphatic tumor progression research
</h2>

<div class="grid">
  {% for repo in repos %}
  <div class="cell">
    <a class="card" href="{{ repo.url }}">
      <header class="card-header">
        <span class="card-header-title icon-text is-family-monospace has-text-link">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>{{ repo.owner }}/{{ repo.name }}</span>
        </span>
      </header>
      <div class="card-image">
        <figure class="image is-2by1">
          <img src="{{ repo.social_card_url }}" alt="Github social card for {{ repo.name }}">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          {{ repo.description }}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
